/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#recent-eq{
    background-color: lightseagreen;
    overflow-y: scroll;
}

.search-bar{
    background-color: tomato;
}

@media screen and (min-width: 1024px){
  #recent-eq{
    height:100%;
    overflow-y: scroll;
    background-color: lightseagreen;
    padding-right: 0px;
    padding-left: 10px;
    }
}